@media only screen and (max-width: 750px) { 
    .benefitsWrapper { 
        padding: 0 35px !important
    }
    .topDiv, .bottomDiv { 
        justify-content: center !important;
    }

}

.benefitsWrapper { 
    min-height: 60vh;
    background: url("../public/assets/BlueRect.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    padding: 0rem 100px;

    .headerTop { 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .topDiv { 
        padding-bottom: 50px;

    }
    .bottomDiv { 
        padding-top: 50px;
    }
    .topDiv, .bottomDiv { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        div { 
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }



}