.nav { 
    text-align: end;
    grid-column: 3;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    right: 10px;
    z-index: 100;


    p { 
        font-size: 19px;
        grid-column: 3;
        grid-area: b;
        cursor: pointer;
        z-index: 100 !important;
    }
    

}



.hamburgerDiv { 
    overflow-y: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #31C83D;
    height: 100vh;
    transform: translateY(100%);
    visibility: hidden;
    transition: all 300ms ease;
    position: fixed;
    z-index: 20;

    h4 {
        color: #ffff; 
        cursor: pointer;
        font-size: 32px;
        opacity: 0%;
        transition: all 300ms ease-in;
    }
    h4:hover { 
        transform: translateY(-10px);
        transition: all 300ms ease-in;

    }

}
.hamburgerDivShown { 
    transform: translate(0px);
    transform: all 300ms ease;
   visibility: visible;

    h4 { 
        opacity: 100%;
        transition: all 300ms ease-in;
    }

}

@media only screen and (max-width: 750px) { 


}